{{define "filecontent"}}
  {{ $lang := .Language }}
  {{ $highlightedContent := getSyntaxHighlightedContent .Content $lang .FileName }}
  <table id="file-content-table">
    <thead hidden aria-hidden="true">
      <th style="max-width: 300px">BlameInfo</th>
      <th style="width: 1%; max-width: 1%;">Lber</th>
      <th>Code Line</th>
    </thead>
    <tbody class="chroma">
    {{ range $i, $e := $highlightedContent.Content }}
      {{$lineNum := toLineNum $i}}
      <tr>
        <td class="blame-col"></td>
        <td id="L{{$lineNum}}" class="lno">{{$lineNum}}</td>
        <td id="LC{{$lineNum}}" class="ln">{{ $e }}</td>
      </tr>
    {{ end }}
    </tbody>
  </table>
{{end}}