{{ with .Data.FileContent }}
  {{ $lang := .Language }}
  {{ $highlightedContent := getSyntaxHighlightedContent .Content $lang .FileName }}
  <table>
    <tbody class="chroma">
    {{ range $i, $e := $highlightedContent.Content }}
      {{$lineNum := toLineNum $i}}
      <tr>
        <td class="blame-col"></td>
        <td id="L{{$lineNum}}" class="lno">{{$lineNum}}</td>
        <td id="LC{{$lineNum}}" style="white-space: pre;padding-left: 1rem;">{{ $e }}</td>
      </tr>
    {{ end }}
    </tbody>
  </table>
{{ end }}

{{ with .Data.DirContent }}
  <div class="dir-viewer-wrapper">
    <h3 class="ml-2 text-lg">Files and Directories</h3>
    <div class="dir-list">
          {{range $child := .Entries}}
          {{ if $child.IsDir }}
            <span class="file-list-entry{{if $child.IsDir}} is-directory{{end}}{{if $child.SymlinkTarget}} is-symlink{{end}}">
              {{if $child.Path}}<a href="{{$child.Path}}">{{$child.Name}}/</a>{{else}}{{$child.Name}}{{end}}
              {{if .SymlinkTarget}}&rarr; (<span class="symlink-target">{{.SymlinkTarget}}</span>){{end}}
            </span>
          {{ end }}
          {{end}}

    </div>
    <div class="file-list">
          {{range $child := .Entries}}
          {{ if not $child.IsDir }}
            <span class="file-list-entry{{if $child.IsDir}} is-directory{{end}}{{if $child.SymlinkTarget}} is-symlink{{end}}">
              {{if $child.Path}}<a href="{{$child.Path}}">{{$child.Name}}</a>{{else}}{{$child.Name}}{{end}}
              {{if .SymlinkTarget}}&rarr; (<span class="symlink-target">{{.SymlinkTarget}}</span>){{end}}
            </span>
          {{ end }}
          {{end}}
    </div>
    <hr />
    {{ with .ReadmeContent }}
      {{ $lang := .Language }}
      {{ $highlightedContent := getSyntaxHighlightedContent .Content $lang .FileName }}
      <table>
        <tbody class="chroma">
        {{ range $i, $e := $highlightedContent.Content }}
          {{$lineNum := toLineNum $i}}
          <tr>
            <td class="blame-col"></td>
            <td id="L{{$lineNum}}" class="lno">{{$lineNum}}</td>
            <td id="LC{{$lineNum}}" style="white-space: pre;padding-left: 1rem;">{{ $e }}</td>
          </tr>
        {{ end }}
        </tbody>
      </table>
    {{ end }}
  </div>
{{ end }}

